#contact-section {
    align-items: center;
    padding: 0 3rem;
    background: url('../img/contact-us-section.jpg');
    background-position: center;
    background-size: 100%;
    /* background-color: gray;
    background-blend-mode: multiply; */
    background-color: #888;
    background-blend-mode: multiply;
    color: #fff;
}

#contact-section h1 .word:first-of-type {
    margin-right: 1rem;
}

#contacts * {
    font-size: 1.25rem;
}

#contacts > p {
    margin: 0.5rem 0;
}

#contacts > div {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

#contacts > div > *:first-of-type {
    transform: translateY(3rem);
    transition: transform .1s;
}

#contacts > div > *:not(:first-of-type) {
    transform: translateY(5rem);
    transition: transform .1s;
}

.contact-infos {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0;
    text-decoration: none;
}

.contact-infos > svg {
    width: 1.4rem;
    aspect-ratio: 1/1;
}

.contact-infos > p {
    color: #fff;
}


